// Tipografía principal
$fuente_principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Colores
$azul: #004d99;
$azul-claro: #27d2f0;
$azul-oscuro: #0c92cf;
$azul-hover: #2f68d3;
$azul-hover2: #255cd3;
$azul-menu: #a8d0ff;
$gris-texto: #000000;
$negro: #000000;
$blanco: #fff;
$gris: #f1f1f1fa;
$gris-fondo: #f7fbff;
$gris-borde: #b0c4de;
$gris-shadow: rgba(0, 77, 153, 0.08);

// Media Queries
$telefono: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktopXL: 1400px;
